@font-face {
  font-family: GentiumPlusW;
  src: url(GentiumPlus-R.woff);
}
@font-face {
  font-family: GentiumPlusW;
  font-style: italic;
  src: url(GentiumPlus-I.woff);
}
/* Use "Times" for emoji characters. */
@font-face {
    font-family: GentiumPlusW;
    src: local('Times');
    unicode-range: U+1F600-U+1FFFF;
}

@font-face {
    font-family: Tengwar_Eldamar_Glaemscrafu;
    src: url('tengwar-eldamar-glaemscrafu.woff') format('woff');
}
.tengwar {
    font-family: Tengwar_Eldamar_Glaemscrafu;
    font-size: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* body    { font-family: Times, "Times New Roman", serif; } */
/* body    { font-family: Arial, Helvetica, sans-serif; } */
body    { font-family: 'GentiumPlusW', Times, 'Times New Roman', san-serif; line-height: 133%; }

a:link  { text-decoration: none }
a:hover { text-decoration: underline }
table   { border: solid 1px black; border-collapse: collapse }
td, th  { border: solid 1px black; padding: 0.2em; vertical-align: top; line-height: 133%; }
th      { background: #CCCCCC }

h1 { font-size: 150% }
h2 { font-size: 125% }
h3 { font-size: 100% }

ul { padding-left: 1.5em; }
ol { padding-left: 1.5em; }
blockquote { margin-left: 0.75em; margin-right: 0em; padding-left: 0.50em; border-left: 0.25em solid #ccc; }

dt { list-style: none; text-indent: -1.5em; margin-left: 1.5em; }
dt::first-line { list-style: none; margin-left: 2em; }
dd.see-instead { list-style: none; text-indent: -1.25em; margin-left: 2.75em; }
dd.see-instead::before { content: '→ '; }
dd.see-from { list-style: none; text-indent: -1.25em; margin-left: 2.75em; }
dd.see-from::before { content: '← '; }

.entry-section { font-weight: bold; text-align : center; text-decoration: underline }

.primary { font-weight: bold }
.secondary { font-style: italic }
.deleted { text-decoration: line-through }
.deleted-section::before { content: '{{'; }
.deleted-section::after { content: '}}'; }

li.c-bullet { list-style-type: none; text-indent: -1em }

div.neo-nav-block    { display: none; }

span.hierachy-nav { display: block; }
span.search-nav-link { display: block; float: right }
span.previous-nav-link { display: block; float: left }
span.next-nav-link { display: block; text-align: right }
span.parent-nav-link { display: none; }
span.search-nav-link2 { display: none; }
hr.nav-break { display: block; }
@media only screen and (min-width: 530px) {
	span.hierachy-nav { display: block; float: left }
	span.list-nav { display: block; float: right }
    span.search-nav-link { display: none }
    span.parent-nav-link { display: inline-block }
	span.previous-nav-link { display: inline-block; float: none }
	span.next-nav-link { display: inline-block; float: none }
    span.search-nav-link2 { display: inline-block }
	hr.nav-break { display: none; }
	div.notes { margin-left: 1.5em }
}

span.breadcrumb-nav { display: none; }
@media only screen and (min-width: 860px) {
    span.breadcrumb-nav { display: inline-block; }
}

dl.neo-lang-word    { display: none; }

hr { border: none; height: 1px; color: #000; background-color: #000; }

.vocab-list {
    -webkit-column-width: 20em;
    -moz-column-width: 20em;
    column-width: 20em;
}

.exercise-list {
    -webkit-column-width: 30em;
    -moz-column-width: 30em;
    column-width: 30em;
}

.tengwar-block {
    line-height: 166%;
}

.advanced-topic {
    background-color: #CCCCCC
}

.advanced-topic blockquote { margin-left: 0.75em; margin-right: 0em; padding-left: 0.50em; border-left: 0.25em solid #999; }
