@font-face {
  font-family: GentiumPlusW;
  src: url(GentiumPlus-R.woff);
}
@font-face {
  font-family: GentiumPlusW;
  font-style: italic;
  src: url(GentiumPlus-I.woff);
}

/* Use "Times" for emoji characters. */
@font-face {
    font-family: GentiumPlusW;
    src: local('Times');
    unicode-range: U+1F600-U+1FFFF;
}

@font-face {
    font-family: Tengwar_Eldamar_Glaemscrafu;
    src: url('tengwar-eldamar-glaemscrafu.woff') format('woff');
}

.tengwar {
    font-family: Tengwar_Eldamar_Glaemscrafu;
    font-size: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body { font-family: 'GentiumPlusW', Times, 'Times New Roman', san-serif; line-height: 133%; }

h1 { font-size: 150% }
h2 { font-size: 125% }
h3 { font-size: 100% }

ul { padding-left: 1.5em; }
ol { padding-left: 1.5em; }

blockquote { margin-left: 0.75em; margin-right: 0em; padding-left: 0.50em; border-left: 0.25em solid #ccc; }

hr { border: none; height: 1px; color: #000; background-color: #000; }

.archive-nav { font-size: 100%; }

.archive-nav::before { content: '['; }
.archive-nav::after { content: '] »'; }
body.dark-mode {
    background-color: #292929;
    color: #e0e0e0;
}

body.dark-mode a:link {
    color: #80b3ff;
}
body.dark-mode a:hover {
    color: #b3d1ff;
    text-decoration: underline;
}


body.dark-mode hr {
    color: #444;
    background-color: #444;
}
body.dark-mode a:visited {
    color: #945AC7;
}

body.dark-mode td  { border: solid 1px white; padding: 0.2em; vertical-align: top; line-height: 133%; }

body.dark-mode th  { border: solid 1px white; padding: 0.2em; vertical-align: top; line-height: 133%; background-color:#424242; }

body.dark-mode button,body.dark-mode select{
    background-color: #69696a;
    color: white;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    cursor: pointer;

}

body.dark-mode input,
body.dark-mode input::placeholder {
    background-color: #292929;
    color: white;
    border: 1px solid #555;
    border-radius: 2px;
}



